* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../public/fonts/GTWalsheimProMedium.woff2") format("woff2"),
    url("../public/fonts/GTWalsheimProMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../public/fonts/GTWalsheimRegular.woff2") format("woff2"),
    url("../public/fonts/GTWalsheimRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.flex {
  display: -webkit-flex;
  display: flex;
}
.items-center {
  align-items: center;
}
.relative {
  position: relative;
}
body,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: GT Walsheim Pro;
}
