/*
This file will get large quickly when start add featutes so it should be split into
reset.css
for all the
* {
  margin: 0;
  padding: 0;
}

body,
...
h6 {
  font-family: GT Walsheim Pro;
}

utils.css
For all the
.flex {, .items-center { etc

fonts.css
For all the @font-face { code
*/

* {
  margin: 0;
  padding: 0;
}

/*
src: url("../public/fonts/GTWalsheimProMedium.woff2") format("woff2"),
you should have a static/fonts folder in the src
There is no point putting the font in the public directory and refereecing it like this
*/
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../public/fonts/GTWalsheimProMedium.woff2") format("woff2"),
    url("../public/fonts/GTWalsheimProMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../public/fonts/GTWalsheimRegular.woff2") format("woff2"),
    url("../public/fonts/GTWalsheimRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.flex {
  display: -webkit-flex;
  display: flex;
}
.items-center {
  align-items: center;
}
.relative {
  position: relative;
}
body,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: GT Walsheim Pro;
}
